<div class="header-buttons">
  <div class="buttons">
    <a routerLink="/transactions">
      TRANSACTIONS LIST
    </a>

    <a routerLink="/payees">
      PAYEES LIST
    </a>

    <a routerLink="/add-payee">
      ADD NEW PAYEE
    </a>

    <a routerLink="/accounts">
      MY ACCOUNTS
    </a>

    <a routerLink="/add-transaction">
      NEW TRANSACTION
    </a>

    <a routerLink="/analytics">
      ANALYTICS
    </a>
  </div>
  <div class="balance-container">
    ACCOUNT BALANCE:
    {{ balance }}
     PLN
  </div>
</div>


<br/><br/>
<router-outlet></router-outlet>
<footer>
  <div class="version" *ngIf="data">
    Version: {{ data }}
  </div>
</footer>
