<br>
<button class="router-button" routerLink="/transactions">
  TRANSACTIONS LIST
</button>

<button class="router-button" routerLink="/payees">
  PAYEES LIST
</button>

<button class="router-button" routerLink="/add-payee">
  ADD NEW PAYEE
</button>

<button class="router-button" routerLink="/accounts">
  MY ACCOUNTS
</button>

<button class="router-button" routerLink="/add-transaction">
  NEW TRANSACTION
</button>

<br/><br/>
<router-outlet></router-outlet>
<footer>
  <div class="version" *ngIf="data">
    <pre>{{ data }}</pre>
  </div>
</footer>
