
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}


.router-button {
  background-color: #4c4b4b;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 7px;

}

.router-button:hover {
  background-color: #727070;
}


.footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
