<br>
<button class="router-button" routerLink="/transactions">
  TRANSACTIONS LIST
</button>

<button class="router-button" routerLink="/payees">
  PAYEES LIST
</button>

<button class="router-button" routerLink="/add-payee">
  ADD NEW PAYEE
</button>

<button class="router-button" routerLink="/accounts">
  MY ACCOUNTS
</button>

<button class="router-button" routerLink="/add-transaction">
  NEW TRANSACTION
</button>

<button class="router-button" routerLink="/analytics">
  ANALYTICS
</button>

<div class = "account-balance-frame">
  ACCOUNT BALANCE
  <div class="balance-number">
    {{balance}}
  </div>
</div>

<br/><br/>
<router-outlet></router-outlet>
<footer>
  <div class="version" *ngIf="data">
    <pre>{{ data }}</pre>
  </div>
</footer>
