
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  height: auto;
}
.mat-mdc-text-field-wrapper{
  background: none !important;
  border: 3px solid #1B1B1B;
  border-radius: 32px !important;
  color: black !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 100px 30px;

  margin-top: 5%;
  margin-bottom: 80px;

  position: relative;
  width: 44vw;
  height: auto;

  color: black;
  border-radius: 32px;
  background-color: #fff8f8;

  border: 3px solid #1B1B1B;
  box-sizing: border-box;
  box-shadow: 6px 6px 0 #1B1B1B;
  font-weight: 800;
}


input{
  color: black !important;
}
mat-select::placeholder{
  vertical-align: middle !important;
}

p{
  font-size: larger;
  margin: 10px;
  margin-left: 20px;
}


.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  margin-left: 10px;
  font-size: 2rem;
  font-weight: 700;
}

mat-form-field {
  width: 100%;
  border-radius: 8px;
  background: #4c4b4b;
}



mat-paginator {
  display: none;
}
