.mat-row{
  color: beige;
}
mat-spinner{
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
  color: white;
}

input{
  color: black !important;
}

mat-form-field{
  width: 230px;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.category, .sort {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.category {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

p {
  margin: 0;
}

table{
  background-color: #E5ECF4 !important;
}
tr:hover td {
  background: #D8E1F0;
}
