
<div>
  <canvasjs-chart [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>
  <button [ngClass]="'backButton'" *ngIf="isButtonVisible" (click)="transactionInstance()">Back</button>
</div>
<mat-spinner *ngIf="loading" color="accent"></mat-spinner>

<mat-form-field>
  <input matInput [matDatepicker]="dp" placeholder="Month and Year" [formControl]="date" readonly>
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)">
  </mat-datepicker>
</mat-form-field>


