div{
  margin-left: 5px;
  padding: 5px;
  position: relative;
}
.backButton {
  border-radius: 4px;
  padding: 8px;
  border: none;
  font-size: 16px;
  background-color: #2eacd1;
  color: white;
  position: absolute;
  top: 10px;
  right: 30%;
  cursor: pointer;
}
mat-spinner{
  position: fixed;
  bottom: 0;
  left: 0;
  transform: scale(0.5);
  color: white;
}
canvasjs-chart{
  background-color: #2eacd1;
}

input{
  color:black !important;
}
mat-datepicker{
  background-color: #083744 !important;
}

canvasjs-chart{
  background-color: black !important;
}
